body {
    background:
        url(https://kq-storage.s3.ap-south-1.amazonaws.com/Github/bucketlist/bucket-list-bg%5B1%5D.png);
    background-size: 100% 15vw;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: white;

}

#main_head {
    margin-top: 120px;

}


.box {
    width: 250px;
    height: 40px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 18px;
    background-color: #F7BE3B;
    border: #F7BE3B;
    margin-top: 70px;


}

.bo {
    height: 40px;
    border-radius: 20px;
    width: 290px;
     border:black 1px solid; 

}




.bx {
    height: 43px;
    border-radius: 20px;
    width: 90px;
    font-weight: 700;
    font-size: 18px;
    background-color: #F7BE3B;
    border:black 1px solid;
    margin-left: -50px;

}

.item {
    display: inline-block;
    width: 30%;
    border: 1px solid black;
    border-radius: 55px;
    text-align: left;
    padding: 15px 15px 15px 15px;
    margin-top: 10px;
}

.tick {
    float: right;
}

#p1{ font-size: 20px;
width:550px ;
text-align: center;
margin-left: 400px;
 }

 #Kalvium{ 
    margin-top: 50px;
 }

 input:focus{
    outline: none;
 }
